## "Which industry offers the best overall job stability and prospects for fresh graduates in Singapore, based on employment outcomes and salary consistency"

Job stability means how likely a person is able to keep their job.

A job with high stability usually have:
- high employment rate
- high number of years worked in a company
- stable salary accross the years

In [18]:
import pandas as pd

df1 = pd.read_csv("graduate_employment_1.csv")
df2 = pd.read_csv("graduate_employment_2.csv")

df = pd.merge(df1, df2, on="Key", how="inner")

# Drop columns with all NaN rows
df = df.dropna(axis=1, how="all")

# Drop columns with duplicated content
df = df.drop(columns=df.columns[df.T.duplicated()])

# Drop rows with ANY NaN column
df = df.dropna()

df.head()

,year,university,school,degree,Key,employment_rate_overall,employment_rate_ft_perm,basic_monthly_mean,basic_monthly_median,gross_monthly_mean,gross_monthly_median,gross_mthly_25_percentile,gross_mthly_75_percentile
0,2013,Nanyang Technological University,College of Business (Nanyang Business School),Accountancy and Business,1,97.4,96.1,3701,3200,3727,3350,2900,4000
1,2013,Nanyang Technological University,College of Business (Nanyang Business School),Accountancy (3-yr direct Honours Programme),2,97.1,95.7,2850,2700,2938,2700,2700,2900
2,2013,Nanyang Technological University,College of Business (Nanyang Business School),Business (3-yr direct Honours Programme),3,90.9,85.7,3053,3000,3214,3000,2700,3500
3,2013,Nanyang Technological University,College of Business (Nanyang Business School),Business and Computing,4,87.5,87.5,3557,3400,3615,3400,3000,4100
4,2013,Nanyang Technological University,College of Engineering,Aerospace Engineering,5,95.3,95.3,3494,3500,3536,3500,3100,3816